

    <h2>Heros</h2>
    <ul>
        <li *ngFor="let hero of heros"
            (click)="onSelect(hero)"
            [class.selected]="hero === selected">
            <span class="badge">{{hero.id}}</span>
            <span class="name">{{hero.name}}</span>
        </li>
    </ul>
    <my-hero [hero]="selected"></my-hero>
